html {
	font-family: "微软雅黑",Arial,"san-serif";
	font-size:14px;
	color: #7c7878;	
}

body{
	line-height: 150%;
}
.content{
	margin: 30px;
}
.content_title{
	padding: 30px 10px;
	font-size: 28px;
}
table {
    word-break:break-all;
}
thead{
	text-align: center;
}
td{
	vertical-align: middle;
    word-wrap: break-word;
}
.table_short{
	text-align: center;
	
}
.table_long{
	line-height: 150%;
}

.admin_edit_short {
    width:90%;
}

.changedArea {
    color:#3366ff;
}