html {
	font-family: "微软雅黑",Arial,"san-serif";
	font-size:14px;
	color: #7c7878;	
}

body{
	background-color: #f3f3f3;
	line-height: 150%;
}

a{
	text-decoration: none;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.banner{
	margin: 20px 10px;
}

	.left_page{
		float: left;
		width: 640px;
	}

	.right_page{
		float: left;
		width: 300px;
		margin:10px;
	}

	.vote_card{
		float: left;
		width: 270px;
		height: 135px;
		margin:10px 10px;
		padding: 15px 15px;
		border-radius:3px;
		box-shadow: 1px 1px 1px #d5d5d5;
		background-color: #fff;	
	}

		.vote_info{
			line-height: 150%;
		}

		.vote_info .table_singleline{
			line-height: 180%;
		}
		.vote_info .table_multiline{
			height: 84px;
		}
		.vote_label{
			width: 45px;
			font-weight: bold;
			color: #999;
		}
		.vote_bidCount{
			width: 140px;
		}



	.right_coloum{
		margin-top: 20px;
		padding: 30px 20px;
		border-radius:3px;
		box-shadow: 1px 1px 1px #d5d5d5;
		background-color: #fff;	
	}

		.right_page_title{
			font-size: 28px;
			color: #d34c41;
		}

		.intro{
			line-height: 180%;
			margin-top: 20px;
		}

		.right_form{
			line-height: 180%;
			margin-top: 25px;
		}

			.right_form p{
				margin-top: 5px;
			}

			.add_name{
				width: 182px;
			}

			.add_intro{
				width: 250px;
				height: 60px;
			}
