html {
	font-family: "微软雅黑",Arial,"san-serif";
	font-size:14px;
	color: #7c7878;	
}

body{
	background-color: #f3f3f3;
}

a{
	text-decoration: none;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.banner{
	margin: 20px 10px;
}

	.left_page{
		float: left;
		width: 620px;
		margin: 10px; 
	}

	.right_page{
		float: left;
		width: 300px;
		margin:10px;
	}